*{
    padding: 2px;
    margin: 0px;
    border: border-box;
    font-family:  Arial, sans-serif;
}
.start{
height: 70px;
color: brown;
background-color:black;
display: flex;
justify-content: center;
}

.about{
    background-color: cadetblue;
    display: flex;
    height: 300px;
    color: black;
    text-align: center;
}

.mis{
    height: 250px;
    width: 300px;
}
.mis h2{
    color: green;
}

.border{
    border: 1px solid transparent;
}
.border:hover{
 border: 1.5px solid white;
}

.footer{
    background-color: rgb(137, 76, 30);
    height: 120px;
    display: flex;
    
}
.text{
    color: aqua;
    margin-left: 20px;
}
.text h3{
    font-size: 2rem;
}
.text p{
    font-size: 0.85rem;

}
