*{
    margin: 0;
    padding: 2px;
    font-family:  Arial, sans-serif;
    border: border-box;

}

.give{
    background-color: black;
    color: bisque;
    height: 90px;
    display: flex;

}

.doner{
    height: 80px;
    width: 100px;
}

.log{
    background-image: url("images/hungerhelp.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
}
.give-txt{
    color: darkgoldenrod;
    font-size: 2rem;
    align-items: center;
    margin-left: 20px;
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 2px solid  white;
}

.sec{
   background-color: darkgray; 
   display: flex;
   justify-content: space-evenly;

}

.txt1{
    color: white;
    font-size: 1rem;

}

.form{
    background-color: beige;
    text-align: center;
}
 .donate{
    background-color: aqua;
    color: brown;
 }